body {
 margin: 0;
}

.main_body {
    position: absolute;
    width: 600px;    
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);     
    align-content: center
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

#searchbar {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;   
    height: 20px;   
}

button {
    margin: 5px;
    padding: 8px;
    border: 1px solid #dcdcdc;
    border-color: rgba(0,0,0,0.1);
    font-size: 11px;
    background: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    -webkit-user-select: none;
    font: -webkit-small-control;
    font-family: Arial, sans-serif; 
}

#signinb {
    color: white;
    font-weight: bold;
    background: #4285f4;
    border: none;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
    margin-right: 10px   
    
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f2f2f2; 
    border-top: 1px solid #e4e4e4;
    height: 35px;
    padding: 5px;
}

.footer ul {
}

.footer ul a {
    margin-left: 15px;
    margin-right: 20px;
    line-height: 35px;
}

#ulfleft {
    float:left;
}

#ulfright {
   float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

li {
    display: inline;
}

a {
    font-family: Arial, sans-serif;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 13px;
    color: #4e4e4e;
}



a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
    
    